<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Laura.</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet">

    <link rel="stylesheet" href="css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="css/animate.css">
    
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">

    <link rel="stylesheet" href="css/aos.css">

    <link rel="stylesheet" href="css/ionicons.min.css">

    <link rel="stylesheet" href="css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="css/jquery.timepicker.css">

    
    <link rel="stylesheet" href="css/flaticon.css">
    <link rel="stylesheet" href="css/icomoon.css">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    
	  <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
	    <div class="container">
      <a class="navbar-brand" href="index.html">Laura.</a>
	    </div>
	  </nav>
    <!-- END nav -->
    
    <div class="hero-wrap js-fullheight" style="background-image: url('images/about.jpg');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center" data-scrollax-parent="true">
          <div class="col-md-9 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
            <h1 class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">"Giving up is conceding"</h1>
            <h2 style="color:white" class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">that things will never get better</h2>
            <h3 style="color:white" class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">and that is just not true.</h3>
            <h4 style="color:white" class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Ups and downs are a constant in life,</h4>
            <h5 style="color:white" class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">and I've been belted into that</h5>
            <h6 style="color:white" class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">roller coaster a thousand times"</h6>
            <p data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"> - Aimee Mullins -</p>
          </div>
        </div>
      </div>
    </div>
		
		<section class="ftco-intro">
			<div class="container">
				<div class="row justify-content-start">
					<div class="col-md-9">
						<h1>
                As a sport psychologist trainee, I will be able to gain experience in the applied field and learn experimentally. My work will be aligned with supervisor monitoring and assisting.
                The British Psychological Society (2018) described the job of a  trainee sport and exercise psychologist as follows: "...will usually seek placement opportunities with sports teams, governing bodies of sport or individuals. They will be expected to provide evidence of the application of a number of psychological techniques and interventions targeted at specific behaviours."  
                During my training, I can offer services to athletes, teams as well as parents, coaches and anyone involved in the athlete's performance and career. These services are monitored, supervised and targeted to enhance the athlete's performance as well as his life issue.   
                The key roles that I should accomplish as a trainee sport psychologist are: Teaching and Dissemination Activities, Sport/Exercise Consultancy and a Work  Research Project (BPS, 2018).
              </h1>
					</div>
				</div>
			</div>
    </section>
    
    

    <section class="ftco-section">
    	<div class="container">
    		<div class="row">
    			<div class="col-lg-8">
    				<div class="row">
              
              <div class="sidebar-box ftco-animate">
                <h3>About</h3>
                <p>
                    I am currently pursuing a master’s degree in Sport and Exercise Psychology at the University of Roehampton, London. Given my passion for sport, I am interested in establishing a career associating it with psychology. Sports have always been a big part of my life, but unfortunately, coaches, parents and sport organizations always prioritized the athlete’s physical state over his/her mental state during performance and competitions. Since sport psychology is neither taught nor practiced in Lebanon, I am excited to introduce this field to my country through shedding light on the importance of athletes’ psychological health. 
                    I completed my bachelor’s degree in Clinical Psychology at Notre Dame University, Lebanon. My background and experience was working with NGOs that fight for women’s rights. I had the opportunity to work with UNICEF as a trainer (parenting skills awareness sessions for Syrian mothers) and with UNFPA as a project coordinator (output of the project: Youth, Family and Community Members Empowered and Enabled to take Informed Decisions and to become Agents of Positive Change in order to Mitigate and Respond to Early Marriage). I volunteered in a shelter for abused women where I had the permission to listen to their stories and refer any unusual behavior or any stated emotion to the psychologist. I was able as well to assist and monitor them during their daily activities in the shelter. I completed 50 hours of training at the Psychiatric Hospital of the Cross where I interviewed individuals with severe psychological disorders, assessed them through several tests and completed a report about my results for the psychiatrist. 
                    Over the past few years, I have gradually focused on my personal fitness regime through exploring into the science of it by means of extensive reading and researching. Therefore, to aid my knowledge about constructing an individual’s fitness goals into an attainable reality, I enrolled in a course in Fitness Instructing. The course lectures built on my knowledge of physiology, while the work experience aspect provided me with valuable insights on working in the fitness industry and working with athletes through strength and conditioning. 
                </p>
              </div>

             
    			

            
          </div><!-- END COL -->
    		</div>
    	</div>
    </section>

    <footer class="ftco-footer ftco-bg-dark ftco-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Laura.</h2>
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
              <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-3">
                <li class="ftco-animate"><a href="https://www.facebook.com/laura.a.elmir?ref=br_rs"><span class="icon-facebook"></span></a></li>
                <li class="ftco-animate"><a href="https://www.instagram.com/laura.elmir/"><span class="icon-instagram"></span></a></li>
              </ul>
            </div>
          </div>
          
          
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
            	<h2 class="ftco-heading-2">Have a Questions?</h2>
            	<div class="block-23 mb-3">
	              <ul>
	                <li><span class="icon icon-map-marker"></span><span class="text">Vibe Offices, 66-70 Cambridge Road, Kingston Upon Thames, KT1 3LA</span></li>
	                <li><a href="#"><span class="icon icon-phone"></span><span class="text">+44 7541 535386</span></a></li>
	                <li><a href="#"><span class="icon icon-envelope"></span><span class="text">lauraelmir0@gmail.com</span></a></li>
	              </ul>
	            </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">

            <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> Laura. <i class="icon-heart" aria-hidden="true"></i></a>
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
          </div>
        </div>
      </div>
    </footer>
    
  

  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>


  <script src="js/jquery.min.js"></script>
  <script src="js/jquery-migrate-3.0.1.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery.easing.1.3.js"></script>
  <script src="js/jquery.waypoints.min.js"></script>
  <script src="js/jquery.stellar.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
  <script src="js/aos.js"></script>
  <script src="js/jquery.animateNumber.min.js"></script>
  <script src="js/bootstrap-datepicker.js"></script>
  <script src="js/jquery.timepicker.min.js"></script>
  <script src="js/scrollax.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
  <script src="js/google-map.js"></script>
  <script src="js/main.js"></script>
    
  </body>
</html>